*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width:99%;

}
#main-container{

    margin-top: 70px;
    padding-bottom: 10px;
}
#logo-name{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    padding-left: 5vw;
    background-color: rgb(198, 172, 137);
}

#button-container{
    padding-left: 2vw;
    align-items: end;
}

button{
    /* border: dashed; */
    border: none;
    border-width: 1px;
    margin: 5px;
    /* padding: 11px; */
    height: 50px;
    width: 40px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(53, 52, 52);
    background-color: rgb(198, 172, 137);
    color: white;

}
button:hover{
    opacity: 0.6;
}

button:active{
    color:rgb(198, 172, 137);
    background-color: white;
    
}
/*#power-button {
    padding:9px ;
} 
#percentage-button{
    padding: 10px 6px;
}
#tags{

    padding: 10px 13px;
}
#equal-button{
    padding: 10px 8.5px;
}
#minus-button{
    padding: 11px 13px;
}*/
#calculation-board{
    height: 10vh;
    border-radius: 2px;
    background-color: white;
    border: solid 1px;
    font-size: 26px;
    text-align: end;
    color: rgb(233, 169, 90);
}